*.bak
*.pyc
*.xml
*.tar.gz
*.iml
*.zip
*.icls

/_windows/
/codestyles/
__pycache__/
*/__pycache__/

# Temp
build/
docs/_build/
dist/
output/
*.egg-info/
colors
core/grpc/

# IDE
.idea/
.vscode/

# jupyter
.ipynb_checkpoints
#docs/source/_static/
#docs/source/_templates/
node_modules
package-lock.json

# Database files
*.db
*.sqlite
*.sqlite3
*.db-journal

# Environment variables
.env
.env.local
.env.docker
.env.development.local
.env.test.local
.env.production.local

